## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

sample_list_1=[]

while len(sample_list_1)<80:
    x=random.randint(0,100)
    if x not in sample_list_1:
        sample_list_1.append(x)

print(len(sample_list_1))
print(sample_list_1)

### My innitial approach, more efficient but not what was required by the exercise:

# sample_list_1=set()
# while len(sample_list_1)<80:
#     sample_list_1.add(random.randint(0,100))

# print(sample_list_1)

80
[100, 45, 30, 8, 98, 52, 89, 61, 5, 69, 83, 13, 34, 48, 7, 47, 54, 65, 20, 19, 32, 53, 92, 93, 42, 94, 88, 1, 15, 46, 73, 96, 95, 80, 67, 50, 84, 76, 72, 18, 74, 2, 62, 44, 29, 66, 82, 86, 38, 11, 87, 64, 91, 51, 57, 58, 60, 78, 85, 97, 68, 33, 63, 17, 41, 25, 9, 24, 23, 14, 39, 71, 49, 70, 3, 55, 27, 79, 77, 43]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here

set1=set(sample_list_1)

print(set1)
print("The length of this set is: ",len(set1))

{1, 2, 3, 5, 7, 8, 9, 11, 13, 14, 15, 17, 18, 19, 20, 23, 24, 25, 27, 29, 30, 32, 33, 34, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 100}
The length of this set is:  80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

###Since this is pretty basic I am going to use a list comprehension:
sample_list_2=[random.randint(0,100) for x in range(80)]

print(sample_list_2)
print("The length of this list is: ",len(sample_list_2))

[19, 35, 8, 62, 0, 42, 47, 82, 85, 97, 66, 40, 91, 2, 10, 60, 50, 47, 48, 81, 100, 62, 92, 1, 54, 86, 53, 28, 79, 54, 15, 97, 41, 20, 66, 77, 98, 50, 10, 77, 45, 14, 23, 96, 14, 35, 51, 27, 20, 24, 64, 27, 79, 94, 93, 68, 59, 17, 86, 45, 82, 64, 15, 30, 78, 25, 65, 27, 83, 79, 95, 50, 1, 51, 76, 91, 0, 35, 54, 81]
The length of this list is:  80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2=set(sample_list_2)

print(set2)
print("The length of this set is: ",len(set2))

{0, 1, 2, 8, 10, 14, 15, 17, 19, 20, 23, 24, 25, 27, 28, 30, 35, 40, 41, 42, 45, 47, 48, 50, 51, 53, 54, 59, 60, 62, 64, 65, 66, 68, 76, 77, 78, 79, 81, 82, 83, 85, 86, 91, 92, 93, 94, 95, 96, 97, 98, 100}
The length of this set is:  52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3=set()
for element in set1:
    if element not in set2:
        set3.add(element)
print(set3)

{3, 5, 7, 9, 11, 13, 18, 29, 32, 33, 34, 38, 39, 43, 44, 46, 49, 52, 55, 57, 58, 61, 63, 67, 69, 70, 71, 72, 73, 74, 80, 84, 87, 88, 89}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4=set()
for element in set2:
    if element not in set1:
        set4.add(element)
print(set4)

{0, 35, 40, 10, 81, 59, 28}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5=set()
for element in set1:
    if element in set2:
        set5.add(element)
print(set5)

{1, 2, 8, 14, 15, 17, 19, 20, 23, 24, 25, 27, 30, 41, 42, 45, 47, 48, 50, 51, 53, 54, 60, 62, 64, 65, 66, 68, 76, 77, 78, 79, 82, 83, 85, 86, 91, 92, 93, 94, 95, 96, 97, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

# The mathematical expression would be:
len(set1) + len(set2) - 2*len(set5) == len(set3) + len(set4)

80
52
35
7
45

True

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set2) 
print(set6)

{0, 1, 2, 8, 10, 14, 15, 17, 19, 20, 23, 24, 25, 27, 28, 30, 35, 40, 41, 42, 45, 47, 48, 50, 51, 53, 54, 59, 60, 62, 64, 65, 66, 68, 76, 77, 78, 79, 81, 82, 83, 85, 86, 91, 92, 93, 94, 95, 96, 97, 98, 100}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
set1==set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
check=set2.issubset(set1)
print(check)

check2=set3.issubset(set1)
print(check2)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
united345 = set3.union(set4,set5)
united12 = set1.union(set2)

united345 == united12

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
fromset1_1st=set1.pop()
print(fromset1_1st)

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:
    if element in set1:
        set1.remove(element)
    
print(set1)

{2, 3, 5, 7, 8, 13, 14, 15, 17, 18, 20, 23, 24, 25, 27, 30, 32, 33, 34, 38, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 92, 93, 94, 95, 96, 97, 98, 100}