# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
# your code here
html = requests.get(url).content
soup = BeautifulSoup(html, 'html.parser')

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [4]:
t_devs = soup.find_all('h1', {'class': 'h3 lh-condensed'})

In [5]:
t_devs_list = []
for i in range(len(t_devs)):
    developer = t_devs[i].a.text + t_devs[i].a.attrs['href'] + ")"
    developer = developer.replace(" ", "").replace("\n","").replace("/"," (")
    
    t_devs_list.append(developer)

In [6]:
t_devs_list

['MikePenz (mikepenz)',
 'FabianAffolter (fabaff)',
 'LuísCobucci (lcobucci)',
 'AleksandrStatciuk (freearhey)',
 'ArtemZakharchenko (kettanaito)',
 'Andrei (AndreiMisiukevich)',
 'AlexGaynor (alex)',
 'JoakimSørensen (ludeeus)',
 'Mr.doob (mrdoob)',
 'RyanLopopolo (lopopolo)',
 'MichaIng (MichaIng)',
 'MatthewLittle (zone117x)',
 'Ayke (aykevl)',
 'StevenFackler (sfackler)',
 'PepeIborra (pepeiborra)',
 'HaThach (hathach)',
 'KevinPapst (kevinpapst)',
 'DanielGerlag (danielgerlag)',
 'NiklasFiekas (niklasf)',
 'johnthagen (johnthagen)',
 'FrançoisChollet (fchollet)',
 'isaacs (isaacs)',
 'Lipis (lipis)',
 'KentC.Dodds (kentcdodds)',
 'SeanTAllen (SeanTAllen)']

#### Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [7]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [8]:
# your code here
html = requests.get(url).content
soup = BeautifulSoup(html, 'html.parser')

In [9]:
t_reps = soup.find_all('h1', {'class': 'h3 lh-condensed'})

In [10]:
t_reps_list = []
for i in range(len(t_reps)):
    repo = t_reps[i].a.text
    repo = repo.replace(" ", "").replace("\n","")
    t_reps_list.append(repo)

In [11]:
t_reps_list

['tgbot-collection/YYeTsBot',
 'freqtrade/freqtrade',
 'archivy/archivy',
 'deeppomf/DeepCreamPy',
 'owid/covid-19-data',
 'kangvcar/InfoSpider',
 'zhouhaoyi/Informer2020',
 'lazyprogrammer/machine_learning_examples',
 'DarkSecDevelopers/HiddenEye-Legacy',
 'python-telegram-bot/python-telegram-bot',
 'carlospolop/hacktricks',
 'hackingthemarkets/binance-tutorials',
 'ytdl-org/youtube-dl',
 'edeng23/binance-trade-bot',
 'pittcsc/Summer2021-Internships',
 'deximy/FxxkSsxx',
 'ranaroussi/yfinance',
 'iperov/DeepFaceLab',
 'Vonng/ddia',
 'Rapptz/discord.py',
 'RyanElliott10/wsbtickerbot',
 'yunjey/pytorch-tutorial',
 'aapatre/Automatic-Udemy-Course-Enroller-GET-PAID-UDEMY-COURSES-for-FREE',
 'liquidctl/liquidctl',
 'emscripten-core/emsdk']

#### Display all the image links from Walt Disney wikipedia page.

In [12]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [13]:
# your code here
html = requests.get(url).content
soup = BeautifulSoup(html, 'html.parser')

In [14]:
images = soup.find_all('a', {'class': 'image'})

In [15]:
wd_images_list = []
for i in range(len(images)):
    link = images[i].img["src"]
    wd_images_list.append(link)

In [16]:
wd_images_list[:5]

['//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/7/71/Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg/170px-Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page.

In [17]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [18]:
# your code here
html = requests.get(url).content
soup = BeautifulSoup(html, 'html.parser')

In [19]:
links = soup.find_all('a',{'class': 'interlanguage-link-target'})

In [20]:
py_links_list = []
for i in range(len(links)):
    link_py = links[i]['href']
    py_links_list.append(link_py)

In [21]:
py_links_list[:5]

['https://af.wikipedia.org/wiki/Python',
 'https://als.wikipedia.org/wiki/Python',
 'https://ar.wikipedia.org/wiki/%D8%A8%D8%A7%D9%8A%D8%AB%D9%88%D9%86_(%D8%AA%D9%88%D8%B6%D9%8A%D8%AD)',
 'https://az.wikipedia.org/wiki/Python',
 'https://bn.wikipedia.org/wiki/%E0%A6%AA%E0%A6%BE%E0%A6%87%E0%A6%A5%E0%A6%A8_(%E0%A6%A6%E0%A7%8D%E0%A6%AC%E0%A7%8D%E0%A6%AF%E0%A6%B0%E0%A7%8D%E0%A6%A5%E0%A6%A4%E0%A6%BE_%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A6%B8%E0%A6%A8)']

#### Find the number of titles that have changed in the United States Code since its last release point.

In [22]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [23]:
# your code here
html = requests.get(url).content
soup = BeautifulSoup(html, 'html.parser')

In [24]:
usa_titles = soup.find_all('div',{'class': 'uscitem'})

In [25]:
usa_tit_w_app = []
for i in range(len(usa_titles)):
    if 'Appendix' in usa_titles[i].text:
        append_tit = usa_titles[i-1].text
        append_tit = append_tit.replace("\n","").replace("  ","")
        usa_tit_w_app.append(append_tit)
    else:
        pass

In [26]:
usa_tit_w_app[0:5]

['Title 5 - Government Organization and Employees ٭116-259[XML]\xa0[XHTML]\xa0[PCC]\xa0[PDF]',
 'Title 11 - Bankruptcy ٭116-259[XML]\xa0[XHTML]\xa0[PCC]\xa0[PDF]',
 'Title 18 - Crimes and Criminal Procedure ٭116-259[XML]\xa0[XHTML]\xa0[PCC]\xa0[PDF]',
 'Title 28 - Judiciary and Judicial Procedure ٭116-259[XML]\xa0[XHTML]\xa0[PCC]\xa0[PDF]',
 'Title 50 - War and National Defense116-259[XML]\xa0[XHTML]\xa0[PCC]\xa0[PDF]']

#### Find a Python list with the top ten FBI's Most Wanted names.

In [27]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [28]:
# your code here
html = requests.get(url).content
soup = BeautifulSoup(html, 'html.parser')

In [29]:
most_wanted = soup.find_all('li',{'class': 'portal-type-person castle-grid-block-item'})

In [30]:
mwanted_list = []
for i in range(len(most_wanted)):
    name = most_wanted[i].h3.text
    name = name.replace("\n","")
    mwanted_list.append(name)

In [31]:
mwanted_list

['BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'JASON DEREK BROWN',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'EUGENE PALMER',
 'RAFAEL CARO-QUINTERO',
 'ROBERT WILLIAM FISHER',
 'YASER ABDEL SAID']

####  Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.

In [32]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [33]:
# your code here
html = requests.get(url).content
soup = BeautifulSoup(html, 'html.parser')

In [34]:
earthquakes = soup.find('tbody')

In [35]:
earthquakes= earthquakes.find_all("tr")

In [47]:
earthquakes[2].text

'earthquake2021-02-08\xa0\xa0\xa018:43:27.331min ago37.23\xa0N\xa0\xa015.55\xa0E\xa0\xa027ML2.6\xa0SICILY, ITALY2021-02-08 19:03'

In [44]:
.split("\xa0")

['earthquake2021-02-08',
 '',
 '',
 '18:43:27.331min ago37.23',
 'N',
 '',
 '15.55',
 'E',
 '',
 '27ML2.6',
 'SICILY, ITALY2021-02-08 19:03']

In [37]:
eq_list = []
for i in range(len(earthquakes)):
    eq = earthquakes[i].text
    eq = eq.split("\xa0")
    eq_list.append(eq)

In [38]:
eq_list

In [49]:
df = pd.DataFrame.from_records(eq_list)
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,earthquake2021-02-08,,,19:00:20.014min ago8.09,N,,123.09,E,,33 M3.1,"MINDANAO, PHILIPPINES2021-02-08 19:10"
1,earthquake2021-02-08,,,18:44:37.830min ago37.43,N,,119.02,W,,4Md2.2,CENTRAL CALIFORNIA2021-02-08 18:46
2,earthquake2021-02-08,,,18:43:27.331min ago37.23,N,,15.55,E,,27ML2.6,"SICILY, ITALY2021-02-08 19:03"
3,earthquake2021-02-08,,,18:30:33.844min ago36.39,N,,28.69,E,,7ML2.1,DODECANESE IS.-TURKEY BORDER REG2021-02-08 19:07
4,earthquake2021-02-08,,,18:30:01.544min ago19.04,N,,64.70,W,,48Md3.4,VIRGIN ISLANDS REGION2021-02-08 19:06

In [60]:
df = df.drop([1,2,5,8],axis=1)

In [65]:
df.head()

,0,3,4,6,7,9,10
0,earthquake2021-02-08,19:00:20.014min ago8.09,N,123.09,E,33 M3.1,"MINDANAO, PHILIPPINES2021-02-08 19:10"
1,earthquake2021-02-08,18:44:37.830min ago37.43,N,119.02,W,4Md2.2,CENTRAL CALIFORNIA2021-02-08 18:46
2,earthquake2021-02-08,18:43:27.331min ago37.23,N,15.55,E,27ML2.6,"SICILY, ITALY2021-02-08 19:03"
3,earthquake2021-02-08,18:30:33.844min ago36.39,N,28.69,E,7ML2.1,DODECANESE IS.-TURKEY BORDER REG2021-02-08 19:07
4,earthquake2021-02-08,18:30:01.544min ago19.04,N,64.70,W,48Md3.4,VIRGIN ISLANDS REGION2021-02-08 19:06

In [71]:
df.columns=["Date","Time","Latitude" , "Longitude", "Depth", "Mag", "Region Name"]

In [73]:
df.head()

,Date,Time,Latitude,Longitude,Depth,Mag,Region Name
0,earthquake2021-02-08,19:00:20.014min ago8.09,N,123.09,E,33 M3.1,"MINDANAO, PHILIPPINES2021-02-08 19:10"
1,earthquake2021-02-08,18:44:37.830min ago37.43,N,119.02,W,4Md2.2,CENTRAL CALIFORNIA2021-02-08 18:46
2,earthquake2021-02-08,18:43:27.331min ago37.23,N,15.55,E,27ML2.6,"SICILY, ITALY2021-02-08 19:03"
3,earthquake2021-02-08,18:30:33.844min ago36.39,N,28.69,E,7ML2.1,DODECANESE IS.-TURKEY BORDER REG2021-02-08 19:07
4,earthquake2021-02-08,18:30:01.544min ago19.04,N,64.70,W,48Md3.4,VIRGIN ISLANDS REGION2021-02-08 19:06

#### Count the number of tweets by a given Twitter account.
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account.

In [36]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [37]:
# your code here

#### Number of followers of a given twitter account
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the followers for any provided account.

In [38]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [39]:
# your code here

#### List all language names and number of related articles in the order they appear in wikipedia.org.

In [40]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [41]:
# your code here

#### A list with the different kind of datasets available in data.gov.uk.

In [42]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [43]:
# your code here

#### Display the top 10 languages by number of native speakers stored in a pandas dataframe.

In [44]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [45]:
# your code here

## Bonus
#### Scrape a certain number of tweets of a given Twitter account.

In [46]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [47]:
# your code here

#### Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.

In [48]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [49]:
# your code here

#### Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [50]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [51]:
# your code here

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [52]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

Enter the city:  a

In [53]:
# your code here

#### Find the book name, price and stock availability as a pandas dataframe.

In [54]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [55]:
# your code here